<!doctype html>
<html lang="en">

<head>
  <title>Basic user auth</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="site-header">
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Signup</a>
      </nav>
    </div>
  </div>

  <div class="container">
  {{{body}}}
  </div>

  <footer id="site-footer">
    <div class="container">
    &copy; DB 2018
    </div>
  </footer>
</body>
</html>