<h1>this is the login page</h1>
  <div class="container">
  <form method="POST" action="/auth/login">

    <div class="field" >
    <label>Username</label>
    <input type="text" name="username" placeholder="user name"/>
  </div>

  <div class="field" >
    <label>Password</label>
    <input type="text" name="password" placeholder="password "/>
  </div>

  <div class="field submit">
    <button type="submit">Login</button>
  </div>
</form>

</div>


