<h1>this is the signup page</h1>
  <div class="container">
  <form method="POST" action="/auth/signup">

    <div class="field" >
    <label>Username</label>
    <input type="text" name="username" placeholder="unique user name"/>
  </div>

  <div class="field" >
    <label>Password</label>
    <input type="password" name="password" placeholder="password you can remember"/>
  </div>

  <div class="field submit">
    <button type="submit">Signup</button>
  </div>
</form>

</div>


